<nav class="ui black small inverted segment">
    <div class="ui inverted secondary pointing menu container">
        <a href="#" class="active item">
            Home
        </a>
        <a class="item">
            Messages
        </a>
        <a class="item">
            Friends
        </a>
        <div class='right menu'>
            <div class="ui button small primary">Log-in</div>
        </div>
    </div>
</nav>